---
import ArrowCard from "@/components/ArrowCard.astro";
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import PublicationArrowCard from "@/components/PublicationArrowCard.astro";
import { HOME, SITE, SITE_TITLE, SOCIALS } from "@/consts";
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const publications = (await getCollection("publications"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4
      class="animate font-bold text-black dark:text-white text-2xl border-b-2 border-black dark:border-white pb-2 inline-block rotate-[-0.5deg]"
    >
      Hi There <span class="text-xl">👋</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4 neo-card mt-6">
          <p class="animate">
            Welcome to {SITE_TITLE}. I'm Abdoul Majid, currently pursuing a
            research Master's degree in Artificial Intelligence.
          </p>
          <p class="animate">
            I mainly focus on the intersection of
            <Link
              href="https://en.wikipedia.org/wiki/Natural_language_processing"
              external
            >
              Natural Language Processing</Link
            >
            and <Link
              href="https://en.wikipedia.org/wiki/Reinforcement_learning"
              external>Reinforcement Learning</Link
            >
            to ensure better decision making using AI systems. In my spare time,
            I also work on
            <span class="bg-neo-yellow dark:bg-neo-blue px-1">OSS</span> projects
            like <Link href="/projects/hausalm">HausaLM</Link> or <Link
              href="/projects/eflight">EfLight</Link
            >.
          </p>

          <p class="animate">
            Non technical? No problem, if you are a music fan, let's play some
            piano chords.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5
            class="font-bold text-xl text-black dark:text-white py-1 px-3 bg-neo-pink dark:bg-neo-pink border-2 border-black dark:border-white rotate-[0.5deg] inline-block"
          >
            Recent publications
          </h5>
          <Link href="/publications"> See all publications </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            publications.map((pub) => (
              <li>
                <PublicationArrowCard entry={pub} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5
            class="font-bold text-xl text-black dark:text-white py-1 px-3 bg-neo-yellow dark:bg-neo-blue border-2 border-black dark:border-white rotate-[-0.5deg] inline-block"
          >
            Latest posts
          </h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5
            class="font-bold text-xl text-black dark:text-white py-1 px-3 bg-neo-green dark:bg-neo-green border-2 border-black dark:border-white rotate-[0.5deg] inline-block"
          >
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5
          class="font-bold text-xl text-black dark:text-white py-1 px-3 bg-neo-blue dark:bg-neo-yellow border-2 border-black dark:border-white rotate-[-0.5deg] inline-block"
        >
          Let's Connect
        </h5>
        <article class="neo-card mt-4">
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>

          <ul class="flex flex-wrap gap-3 mt-4">
            {
              SOCIALS.map((SOCIAL, idx) => (
                <li class="neo-button py-1 px-3 text-nowrap inline-block">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    underline={false}
                    aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                </li>
              ))
            }
          </ul>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
