---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate: date,
  updatedDate,
  heroImage,
  tags,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <style>
      .hero-image {
        width: 100%;
        margin-bottom: 2rem;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
        max-height: 400px;
        object-fit: contain;
        width: 100%;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        line-height: 1.2;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
        font-size: 2rem;
        font-weight: bold;
      }
      .date {
        margin-bottom: 1.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }

      :global(.dark) .prose {
        color: rgb(var(--gray-light));
      }
    </style>
  </head>

  <body>
    <main>
      <article class="animate my-8">
        {
          heroImage && (
            <div class="hero-image">
              <img src={heroImage} alt={title} />
            </div>
          )
        }
        <div class="">
          <div class="title">
            <h1>{title}</h1>
            <div class="date">
              <time datetime={date.toISOString()}>
                {
                  date.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })
                }
              </time>
              {
                updatedDate && (
                  <span class="last-updated-on">
                    · Updated on{" "}
                    {updatedDate.toLocaleDateString("en-us", {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    })}
                  </span>
                )
              }
            </div>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
